@font-face {
    font-family: 'KyoboHandwriting2020A';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: cornsilk;
    font-family: 'KyoboHandwriting2020A';
}

.hidden {
    display: none;
}

